<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>A Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto|Montserrat:400,700|Open+Sans:400,300,600" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../dist/css/webdev-bootstrap-theme.css" />

</head>

<body>

<!-- Page Wrapper -->
<div>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <!-- Brand -->
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">Sample App</a>
        </div>

        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">

            <!-- Messages -->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-envelope"></i>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu message-dropdown">
                    <li class="message-preview">
                        <a href="#">
                            <div class="media">
                                    <span class="pull-left">
                                      <img class="media-object" src="http://placehold.it/50x50" alt="" />
                                    </span>
                                <div class="media-body">
                                    <h5 class="media-heading">
                                        <strong>John Smith</strong>
                                    </h5>
                                    <p class="small text-muted">
                                        <i class="fa fa-clock-o"></i>
                                        Yesterday at 4:32 PM</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-preview">
                        <a href="#">
                            <div class="media">
                                    <span class="pull-left">
                                      <img class="media-object" src="http://placehold.it/50x50" alt="" />
                                    </span>
                                <div class="media-body">
                                    <h5 class="media-heading">
                                        <strong>John Smith</strong>
                                    </h5>
                                    <p class="small text-muted">
                                        <i class="fa fa-clock-o"></i>
                                        Yesterday at 4:32 PM</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-preview">
                        <a href="#">
                            <div class="media">
                                    <span class="pull-left">
                                      <img class="media-object" src="http://placehold.it/50x50" alt="" />
                                    </span>
                                <div class="media-body">
                                    <h5 class="media-heading">
                                        <strong>John Smith</strong>
                                    </h5>
                                    <p class="small text-muted">
                                        <i class="fa fa-clock-o"></i>
                                        Yesterday at 4:32 PM</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-footer">
                        <a href="#">Read All New Messages</a>
                    </li>
                </ul>
            </li>

            <!-- Alerts -->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-bell"></i>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu alert-dropdown">
                    <li>
                        <a href="#">Alert Name
                            <span class="label label-default">Alert Badge</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">Alert Name
                            <span class="label label-primary">Alert Badge</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">Alert Name
                            <span class="label label-success">Alert Badge</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">Alert Name
                            <span class="label label-info">Alert Badge</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">Alert Name
                            <span class="label label-warning">Alert Badge</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">Alert Name
                            <span class="label label-danger">Alert Badge</span>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">View All</a>
                    </li>
                </ul>
            </li>

            <!-- User Options -->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-user"></i>John Smith
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">
                            <i class="fa fa-fw fa-user"></i>Profile
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-fw fa-envelope"></i>Inbox
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-fw fa-gear"></i>Settings
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <i class="fa fa-fw fa-power-off"></i>Log Out
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
        <!-- /Top Menu Items -->

    </nav>
    <!-- /Navigation -->

    <!-- Page Wrapper -->
    <div id="full-page-wrapper">

        <!-- Signup  -->
        <div class="container">
            <div class="row">
                <div class="center-form panel panel-default">
                    <div class="panel-heading">
                        <h2>Sign up</h2>
                    </div>
                    <div class="panel-body">
                        <form method="post" ng-submit="signup()" name="signupForm">
                            <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.displayName.$invalid && signupForm.displayName.$dirty }">
                                <input class="form-control input-lg" type="text" name="displayName" ng-model="user.displayName" placeholder="Name" required autofocus>
                                <span class="ion-person form-control-feedback"></span>
                                <div class="help-block text-danger" ng-if="signupForm.displayName.$dirty" ng-messages="signupForm.displayName.$error">
                                    <div ng-message="required">You must enter your name.</div>
                                </div>
                            </div>
                            <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.email.$invalid && signupForm.email.$dirty }">
                                <input class="form-control input-lg" type="email" id="email" name="email" ng-model="user.email" placeholder="Email" required>
                                <span class="ion-at form-control-feedback"></span>
                                <div class="help-block text-danger" ng-if="signupForm.email.$dirty" ng-messages="signupForm.email.$error">
                                    <div ng-message="required">Your email address is required.</div>
                                    <div ng-message="pattern">Your email address is invalid.</div>
                                </div>
                            </div>
                            <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.password.$invalid && signupForm.password.$dirty }">
                                <input password-strength class="form-control input-lg" type="password" name="password" ng-model="user.password" placeholder="Password" required>
                                <span class="ion-key form-control-feedback"></span>
                                <div class="help-block text-danger" ng-if="signupForm.password.$dirty" ng-messages="signupForm.password.$error">
                                    <div ng-message="required">Password is required.</div>
                                </div>
                            </div>
                            <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.confirmPassword.$invalid && signupForm.confirmPassword.$dirty }">
                                <input password-match="user.password" class="form-control input-lg" type="password" name="confirmPassword" ng-model="confirmPassword" placeholder="Confirm Password">
                                <span class="ion-key form-control-feedback"></span>
                                <div class="help-block text-danger" ng-if="signupForm.confirmPassword.$dirty" ng-messages="signupForm.confirmPassword.$error">
                                    <div ng-message="compareTo">Password must match.</div>
                                </div>
                            </div>
                            <p class="text-center text-muted"><small>By clicking on Sign up, you agree to <a href="">terms & conditions</a> and <a href="">privacy policy</a></small></p>
                            <button type="submit" ng-disabled="signupForm.$invalid" class="btn btn-lg btn-block btn-primary">Sign up</button>
                            <br/>
                            <p class="text-center text-muted">Already have an account? <a href="" ng-click="goLogin()">Log in now</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Signup -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>

</body>

</html>
